*{
    margin: 0;
    padding: 0;
}

.weatherApp{
    background-image: url('background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.title{
    text-align: center;
}

.title h1{
    font-size: 48px;
    color: rgb(165, 209, 213);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title input{
    height: 35px;
    width: 400px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 1px solid whitesmoke;
    color: white;
    outline: none;
    margin: 10px 0px;
}

.title button{
  background-color: rgba(130, 188, 188, 0.42);
  color: white;
  padding: 10px 160px;
  border-radius: 10px;
  border: none;
  margin: 5px  0px;
  font-size: large;
  font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.weatherDiv{
    width: 25%;
}
.weatherInfo{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('background2.jpg');
    height: 40vh;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
}